# Django #
*.log
*.pot
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Compiled files
*.min.css
*.min.js
*.map

# Static files
/static/
/media/

# Backup files # 
*~
*.bak 

# Visual Studio Code # 
.settings/
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Virtual environment directory
myenv/
