{% extends 'base.html' %}

{% block title %} Update Product
{% endblock %}

{% block content %}
    {% load widget_tweaks %}
    <h2 class="text-center mt-5"> Update Details </h2>

    <div class="container w-25 mt-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container text-center">
                {% for field in update_product_form %}
                    <div class="row mt-4">
                        <div class="col-md-3">
                            <label class="form-label"> {{ field.label }} </label>
                        </div>
                        <div class="col-md-9">
                            {% render_field field class="form-control" %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="d-flex justify-content-center mt-5">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
{% endblock %}