body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Header */

.header {
    top: 0;
    left: 0;
    right: 0;
    background: #522b5b;
    color: white;
    padding: 10px;
}

.header a.nav-link {
    color: white;
}

.header a {
    color: white;
}


/* Main */

.main-content {
    flex: 1;
}

main.main-content .container h2, h6, .card a, p a, p a:hover {
    color: #522b5b;
}

.btn:focus, .btn-primary:focus, .btn-primary:active:focus {
    box-shadow: none;
}

.btn:focus-visible {
    outline: none;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    color: #bf5d21;
    background-color: transparent;
    border-color: #bf5d21;
}

.btn-primary:hover{
    background-color: #bf5d21;
    border-color: #bf5d21;
}

.btn-danger, .btn-danger:active, .btn-danger:focus {
    color: #d11a2a;
    background-color: transparent;
    border-color: #d11a2a;
}

.btn-danger:hover {
    background-color: #d11a2a;
    border-color: #d11a2a;
}

.btn-primary:active:hover, .btn-primary:focus:hover, .btn-danger:active:hover, .btn-danger:focus:hover {
    color: #fff;
}



.card {
    border: 1px solid #bf5d21;
}

main.main-content .payment-message-container {
    text-align: center;
    margin: 30px;
}

main.main-content .expired-message-container {
    text-align: center;
}

.payment-message-container .payment-success-tick {
    max-width: 5%;
    margin: auto;
}

.payment-message-container .success {
    color: #32A62E;
    margin-bottom: 30px;
}

.payment-message-container .fail {
    color: #D93B3B;
    margin-bottom: 30px;
}

.payment-message-container p {
    color: #734838;
    margin-bottom: 30px;
    font-size: larger;
}

.payment-message-container .payment-message-btn {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 20px;
}


/* Footer */

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #522b5b;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-items {
    display: flex;
    gap: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer p {
    margin: 15px 0 10px 0;
}