{% extends 'base.html' %}

{% block title %} Page Not Found
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh">
        <div class="row text-center">
        <div class="col">
            <h1 style="font-family: Roboto; font-size: 60px;">404</h1>
            <p style="font-family: Roboto; font-size: 30px;">Page not found</p>
            <div class="buttons-con">
                <div class="action-link-wrap">
                    <a onclick="history.back(-1)" class="btn btn-warning">Go Back</a>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}