<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {% endblock %}
  </title>

  <style>
    {
      % block style %
    }

      {
      % endblock %
    }
  </style>

  {% if '/clothstore/generate_pdf/' not in request.path %}

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  {% comment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css"
    integrity="sha512-9kBLDtN/klZKugbE/8SSN20Mn+KhKjyN+yRo2QX9Oz+ahx1JZamjOZupgOoD7bPIw+OBdCzy/dYlEZ3qJJ0bGQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> {% endcomment %}
  <!-- Javascript -->
  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.min.js"
    integrity="sha512-cjBCQGd4IOMnYmIWf8JNzBt/KsXYtMzNtE/8WrxzTtCnsD//7L+PeT0LLf8oO4+V4Q2G3EdYVvmX8+MUxuJ7Rg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}

  {% endif %}

</head>

<body>

  {% if '/clothstore/generate_pdf/' not in request.path and request.path != '/clothstore/login/' and request.path != '/clothstore/signup/' %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      {% if request.user.user_type == "ProductAdmin" %}
      <a class="navbar-brand" href="/clothstore/dashboard/">Shop</a>
      {% elif request.user.user_type == "Customer" %}
      <a class="navbar-brand" href="/clothstore/home/">Shop</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        {% if request.user.user_type == "ProductAdmin" %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/clothstore/dashboard/' %}active{% endif %}"
              href="/clothstore/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/clothstore/add_product/' %}active{% endif %}"
              href="/clothstore/add_product">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/clothstore/view_products/' or '/clothstore/product_detail/' in request.path or '/clothstore/update_product/' in request.path or '/clothstore/delete_product/' in request.path %}active{% endif %}"
              href="/clothstore/view_products">View Products</a>
          </li>
        </ul>

        {% elif request.user.user_type == "Customer" %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/clothstore/home/' or '/clothstore/product_detail/' in request.path %}active{% endif %}"
              href="/clothstore/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/clothstore/my_order/' or '/clothstore/order_summary/' in request.path %}active{% endif %}"
              href="/clothstore/my_order">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/clothstore/cart/' %}active{% endif %}"
              href="/clothstore/cart">Cart</a>
          </li>

        </ul>
        {% endif %}

        <ul class="navbar-nav  mb-2 mb-lg-0">
          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link {% if request.path == '/clothstore/profile/' %}active{% endif %}"
              href="/clothstore/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clothstore/logout">Logout</a>
          </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="/clothstore/login">Login</a>
          </li>

          {% endif %}
        </ul>

      </div>
    </div>
  </nav>
  {% endif %}

  {% block content %}
  {% endblock %}

  {% comment %} {% block javascript%}
  {% endblock %} {% endcomment %}

  {% if '/clothstore/generate_pdf/' not in request.path %}
  <footer class="fixed-bottom mt-auto text-center text-light bg-dark py-1">
    <small>Copyright </small> &copy; <small> 2023 Khushi Kamat. All Rights Reserved</small>
  </footer>
  {% endif %}
</body>

</html>