{% extends 'base.html' %}

{% block title %} Delete Product
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/clothstore/dashboard">Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/clothstore/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clothstore/add_product">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/clothstore/view_products">View Products</a>
                </li>
            </ul>

            <ul class="navbar-nav  mb-2 mb-lg-0">
                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="/clothstore/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clothstore/logout">Logout</a>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="/clothstore/login">Login</a>
                </li>

                {% endif %}
            </ul>

        </div>
    </div>
</nav>

<h2 class="text-center mt-5"> Delete Product </h2>

<div class="container w-25 mt-5 text-center">
    <form method="POST">
        {% csrf_token %}
        <h5> Are you sure you want to delete this item? </h5><br>
        <div class="text-center">
            <div class="btn-group mt-3">
                <div class="mx-3">
                    <button type="submit" class="btn btn-danger">Yes</button>
                </div>
                <div class="mx-3">
                    <button type="button" class="btn btn-primary"
                        onclick="location.href='/clothstore/product_detail/{{product.id}}'">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% comment %} <footer class="mt-auto text-center text-light bg-dark py-1">
    <small>Copyright </small> &copy; <small> 2023 Khushi Kamat. All Rights Reserved</small>
</footer> {% endcomment %}

{% endblock %}