{% extends 'base.html' %}

{% block title %} Update Product
{% endblock %}

{% block content %}

<h2 class="text-center mt-5"> Update Details </h2>

<div class="container w-25 mt-3">
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="container text-center">
            {% for field in update_product_form %}
            <div class="form-outline mb-2">
                <label class="form-label"> </label><br>
                {{ field }}
            </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

    </form>
</div>

<script type="text/javascript">
    // Pre-populate form fields with data of product to be updated
    var product_data = {
        {
            product_data | safe
        }
    };
    for (var key in product_data) {
        if (product_data.hasOwnProperty(key)) {
            var field = document.querySelector('id_' + key);
            if (field) {
                if (key == 'image') { // Handle image field separately
                    var imgField = document.getElementById('[name="' + key + '"]');
                    imgField.setAttribute('src', '/media/' + product_data[key]);
                } else {
                    field.value = product_data[key];
                }
            }

        }
    }
</script>

{% endblock %}