{% extends 'base.html' %}

{% block title %} View Products
{% endblock %}

{% block content %}

<div class="container w-50 mt-5">
    {% if product_list %}

    {% for product in product_list %}
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="row no-gutters">
            <div class="col-md-10">
                <a class="card-block stretched-link text-decoration-none"
                    href="{% url 'clothstore:product_detail' product.id %}">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text"> Id : {{ product.id }} <br> Date : {{ product.date }} </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </a>
            </div>
            <div class="col-md-2">
                <img class="border-primary" src="/media/{{ product.image }}" style="object-fit: cover; width: 100%;">
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <div class="text-center">
        <strong> No products available! </strong>
    </div>
    {% endif %}

    <div class="container text-center mt-5">
        {% for message in messages %}
        <strong> {{ message }} </strong><br>
        {% endfor %}
    </div>
</div>

{% endblock %}